body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.review {
    padding: 5px;
    border-bottom: 1px solid transparent;
    border-color: #2a9fd6;
}

.panel-body.review-container {
    padding-top: 0px;
    padding-bottom: 0px;
}